@import "variable";

*{
	font-family: $source;
}
html, body{
	height: 100%;
}

.top{
	background-image: url("../img/bgHeader.jpg");
	background-size: cover;
	min-height: 80%;
	padding: 0;
	color: $white;
	h1{
		margin: 0;
		font-size: 6rem;
		font-weight: 600;
	}
	h2{
		font-size: 2.75rem;
		font-weight: 300;
	}
	img{ 
		width: 100%;
	}
}